/*
===
    Important and necessary
===
*/

.content {
    display: none;
}

.content.current {
    display: block;
}


/*
===
    Not necessary
===
*/

body {
    width: 600px;
    margin: 100px auto 0;
    font-family: 'Trebuchet MS';
    line-height: 1.6;
}

.tab-box {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.tab-box .tab {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

.tab-box .tab.current {
    background: #ededed;
    color: #222;
}

.content {
    background: #ededed;
    padding: 15px;
}