$primary: #6BB927;

.tabs-container {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;

  &::-webkit-scrollbar {
    height: 2px;
    background: #ededed;
    &-thumb {
      background: $primary
    }
  }
}